<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
  var pageMetafieldParams = {
    object_type: 'page',
    object_id: {{ page.id }},
    namespace: 'fields_raven',
    key: `key ${Date.now()}`,
    value: `value ${Date.now()}`,
    value_type: 'single_line_text_field'
  }

  var pageJSONMetafieldParams = {
    object_type: 'page',
    object_id: {{ page.id }},
    namespace: 'fields_raven',
    key: 'json_example',
    value: JSON.stringify({"color": "blue","size": "large","updated_at": Date.now()}),
    value_type: 'json'
  }

  var pageTitleParams = {
    object_type: 'page',
    object_id: {{ page.id }},
    namespace: 'global',
    key: `title_tag`,
    value: `Axios example (${Date.now()})`,
    value_type: 'single_line_text_field'
  }


  {% liquid
    assign seo_hidden_value = page.metafields.seo.hidden.value
    case seo_hidden_value
      when 0
        assign hide_show_value = 1
        assign hide_show_text = 'Hide'
      when 1
        assign hide_show_value = 0
        assign hide_show_text = 'Show'
      else
        assign hide_show_value = 1
        assign hide_show_text = 'Hide'
      endcase
  %}

  var pageSEOHideParams = {
    object_type: 'page',
    object_id: {{ page.id }},
    namespace: 'seo',
    key: 'hidden',
    value: {{ hide_show_value }},
    value_type: 'number_integer'
  }
</script>

<section x-data="{
  xdataSubmit(params) {
    fetch('/apps/raven/create_update_metafield', {
      method: 'PUT',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(params)
    })
    .then(response => {
      if (response.status === 200) {
        setTimeout(() => (location.reload()), 3000);
      } else {
        console.log('Response: ', response);
      }
    })
    .catch((error) => {
      console.error('Data submit error:', error);
    });
  },
  dataSubmit(params) {
    axios.put('/apps/raven/create_update_metafield', params )
    .then(res => setTimeout(() => (location.reload()), 3000))
    .catch(error => {
      if (error.response) {
        // Request made and server responded
        console.log('ðŸš¨âš ï¸ data: ', error.response.data);
        console.log('ðŸš¨âš ï¸ status: ', error.response.status);
        console.log('ðŸš¨âš ï¸ headers: ', error.response.headers);
      } else if (error.request) {
        // The request was made but no response was received
        console.log('ðŸš¨âš ï¸ error.request: ', error.request);
      } else {
        // Something happened in setting up the request that triggered an Error
        console.log('ðŸš¨ðŸš¨âš ï¸ Error', error.message);
      }
    })
  }
}"
  x-init="console.log('FieldaRaven Axios example')"
>
  <h3>Add text metafield to the page</h3>
  <fieldset>
    <legend>Page random metafields</legend>
    <code>
      {{ page.metafields.fields_raven }}
    </code><br>
  </fieldset>
  <button @click="dataSubmit(pageMetafieldParams)">Create/update page metafield!</button>
  <hr>
  <h3>Add JSON metafield to the page</h3>
  <fieldset>
    <legend>Page JSON metafield example</legend>
    <code>
      {{ page.metafields.fields_raven.json_example.value }}
    </code><br>
  </fieldset>
  <button @click="dataSubmit(pageJSONMetafieldParams)">Create/update page JSON metafield!</button>
  <hr>
  <h3>Chanage page title (by adding a time stamp at the end of the title)</h3>
  <fieldset>
    <legend>Page title</legend>
    <code>{{ page_title }}</code><br>
  </fieldset>
  <button @click="dataSubmit(pageTitleParams)">Create/update page metafield!</button>
  <hr>
  <h3>Hide page from search engines and sitemap</h3>
  <fieldset>
    <legend>Page SEO hidden value</legend>
    <code>
      {% if page.metafields.seo.hidden.value %}
        {{ seo_hidden_value }}
      {% else %}
        No value found.
      {% endif %}
    </code><br>
  </fieldset>
  <button @click="dataSubmit(pageSEOHideParams)">
    {{ hide_show_text }} page on sitemap!
  </button>
  <hr>
  <script type="text/javascript">
    var pageMetafieldParams = {
      object_type: 'pagex',
      object_id: {{ page.id }},
      namespace: 'fields_raven',
      key: `key ${Date.now()}`,
      value: `value ${Date.now()}`,
      value_type: 'single_line_text_field'
    }

    fieldsRavenDataSubmit = (params) => {
      axios.put('/apps/raven/create_update_metafield', params )
      .then(res => console.log('ðŸŽ‰'))
      .catch(error => {
        if (error.response) {
          // Request made and server responded
          console.log('ðŸ˜ž error.response', error.response.status, error.response.data);
        } else if (error.request) {
          // The request was made but no response was received
          console.log('ðŸ˜ž error.request: ', error.request);
        } else {
          // Something happened in setting up the request that triggered an Error
          console.log('ðŸ˜ž Error', error.message);
        }
      })
    }
  </script>
  <div id="fieldsraven-demo" onclick="fieldsRavenDataSubmit(pageMetafieldParams)">Create metafield!</div>
</section>
