{% if customer %}
  {% assign wishlist = customer.metafields.fields_raven.wish_list.value %}
  <code>
    {{ wishlist | json }}
  </code><br>
  <ul
    x-data='{
      wishlist: {{ wishlist | json }},
      wishlistRemoveItem(handle) {
        let newWishlist = this.wishlist.filter((item) => item.product_handle !== handle)
        console.log("newWishlist: ", newWishlist);
        const ravenObj = {%- render 'raven-mac-gen', resource_id: customer.id, raven_id: 'gZ1enP0' -%};
        const valueObj = { value: JSON.stringify(newWishlist) };
        const response = Raven.send(ravenObj, valueObj);
        response.then(res => {
          if (res.status === 200) {
            console.log("🎉", res.json)
          } else {
            console.error("😞", res)
          }
        })
      }
    }'
    x-init="console.log('wishlist: ', wishlist)"
  >
  {% for item in wishlist %}
    {% if item.product_handle == blank %}{% continue %}{% endif %}
    {% assign prod_obj = all_products[item.product_handle] %}
    <li>
      <img src="{{ prod_obj.featured_image | img_url: '150x' }}" alt=""><br>
      <a href="{{ prod_obj.url }}">{{ prod_obj.title }}</a> | created at: {{ item.created_at | date: "%b %d, %y" }}<br>
      <button @click="wishlistRemoveItem('{{ item.product_handle }}')">Delete</button>
    </li>

  {% endfor %}
  </ul>
{% else %}
  <p>Please <a href="/account/login">log in</a> to view your wish list, or <a href="/account/register">register</a> to start adding items to a wish list.</p>
{% endif %}
