<script type="text/javascript">
  window.addEventListener('FieldsRavenJSKitReady', (event) => {
    console.log('ðŸš€ðŸš§ FieldsRavenJSKitReady ðŸš§ðŸš€');
  });
</script>

{% if customer %}
{% liquid
  case request.page_type
    when 'index'
      assign resource_id = 'shop'
      assign resource_name = 'shop'
    when 'page'
      assign resource_id = page.id
      assign resource_name = 'page'
    when 'customers/account'
      assign resource_id = customer.id
      assign resource_name = 'customer'
    when 'collection'
      assign resource_id = collection.id
      assign resource_name = 'collection'
    when 'product'
      assign resource_id = product.id
      assign resource_name = 'product'
    when 'blog'
      assign resource_id = blog.id
      assign resource_name = 'blog'
    when 'article'
      assign resource_id = article.id
      assign resource_name = 'article'
  endcase

  if request.host == 'fieldsraven-demo.myshopify.com'
    assign raven_id_product_reference_test = 'oZnqU_U'
    assign raven_id_product_reference_list_test = 'IntgzvQ'
    assign product_ids_list = '6702989607012,6702989475940' | split: ','
    assign raven_id_customer_email_text_field_test = 'bnRIjmA'
    assign ravenIdTextNoResource = 'b0lp0d8'
    assign ravenIdMultiLineTextNoResource = '47l7iA0'
    assign ravenIdIntNoResource = 'eL6n4Gc'
    assign ravenIdDecNoResource = 'MX2y3EI'
    assign ravenIdJsonNoResource = 'Rk5NRkw'

    if request.page_type == 'index'
      assign raven_id_1_text = '6r4fdes'
      assign raven_id_2_multi_line_text = 'EdjT0C4'
      assign raven_id_3_int = 'PoYbdg0'
      assign raven_id_4_dec = 'xQ3SiAE'
      assign raven_id_5_json = 'kLG4AFk'
    endif

    if request.page_type == 'page'
      assign raven_id_1_text = 'vl73b5w'
      assign raven_id_2_multi_line_text = 'YoNsiPE'
      assign raven_id_3_int = '7w0hp3s'
      assign raven_id_4_dec = 'klUDErk'
      assign raven_id_5_json = '6a2cgOo'
    endif

    if request.page_type == 'customers/account'
      assign raven_id_metafields_set_type_test = 'IXLRw54'
      assign raven_id_1_text = 'mtdyENM'
      assign raven_id_2_multi_line_text = '4TktccA'
      assign raven_id_3_int = 'rp1C67s'
      assign raven_id_4_dec = 'nA-pjk0'
      assign raven_id_5_json = '2iM8EJ8'
      assign ex_raven_id_5_json_klaviyo = '0iiyCqQ'
      assign raven_id_5_json_klaviyo = 'kqv5FRQ'
      assign raven_id_airtable = 'PcJjpIo'
    endif
  endif

  if request.host == 'shopraven-app-trial.myshopify.com'
    if request.page_type == 'index'
      assign raven_id_1_text = 'NX-xPFc'
      assign raven_id_2_multi_line_text = 'E_w0HRU'
      assign raven_id_3_int = 'mCRloKI'
      assign raven_id_4_dec = '9OPuVEs'
      assign raven_id_5_json = 'Hg-ZGE0'
    endif

    if request.page_type == 'page'
      assign raven_id_1_text = 'clzSaIk'
      assign raven_id_2_multi_line_text = 'uRTN-kw'
      assign raven_id_3_int = 'hUEFbKc'
      assign raven_id_4_dec = 'PYbIQIc'
      assign raven_id_5_json = 'HaQeMPQ'
    endif

    if request.page_type == 'customers/account'
      assign raven_id_1_text = 'cuRonjI'
      assign raven_id_2_multi_line_text = 'QIyhQWo'
      assign raven_id_3_int = 'y9LuliY'
      assign raven_id_4_dec = 'h_2jkp0'
      assign raven_id_5_json = '1cGu9Ko'
    endif
  endif

  if request.host == 'fieldsraven-demo-next.myshopify.com'
    if request.page_type == 'index'
      assign raven_id_1_text = 'sdRaI_Y'
      assign raven_id_2_multi_line_text = 'ssy7ETI'
      assign raven_id_3_int = 'OTVbmvw'
      assign raven_id_4_dec = '3WYSh4M'
      assign raven_id_5_json = 'NM1BDi4'
    endif

    if request.page_type == 'page'
      assign raven_id_1_text = 'LCUInVg'
      assign raven_id_2_multi_line_text = 'pKIPB7Y'
      assign raven_id_3_int = 'gZryxKs'
      assign raven_id_4_dec = 'b1928Ys'
      assign raven_id_5_json = '1xyedQA'
    endif

    if request.page_type == 'customers/account'
      assign raven_id_1_text = '-WDXoUI'
      assign raven_id_2_multi_line_text = 'JyUoJWI'
      assign raven_id_3_int = 'F2etuHw'
      assign raven_id_4_dec = 'X9ovL08'
      assign raven_id_5_json = '87HXnnc'
    endif
  endif

  if request.host == 'fieldsraven-stage-next.myshopify.com'
    if request.page_type == 'page'
      assign raven_id_1_text = 'n9lDkDQ'
      assign raven_id_2_multi_line_text = 'G5s4JgI'
      assign raven_id_3_int = 'sSL46_Y'
      assign raven_id_4_dec = 'rr15j4Q'
      assign raven_id_5_json = '3cKr37M'
    endif

    if request.page_type == 'index'
      assign raven_id_1_text = 's2A33pw'
      assign raven_id_2_multi_line_text = '4j-7cXA'
      assign raven_id_3_int = 'u8nFQxo'
      assign raven_id_4_dec = 'mwmb980'
      assign raven_id_5_json = 'Pxb8Xhg'
    endif

    if request.page_type == 'customers/account'
      assign raven_id_1_text = 'G_V7wgc'
      assign raven_id_2_multi_line_text = '0EiX74s'
      assign raven_id_3_int = 'rpCc9vk'
      assign raven_id_4_dec = 'rhPmUuM'
      assign raven_id_5_json = 'KyNiDWg'
    endif
  endif

  comment
    pk_09f7a1eba91426889be2e2b411f25e493c
  endcomment
  if request.host == 'fieldsraven-stage.myshopify.com'
    assign raven_id_product_reference_test = 'LOiRk9w'
    assign raven_id_product_reference_list_test = 'fzk4PZA'
    assign product_ids_list = '7527505002710,7527505690838' | split: ','
    assign raven_id_customer_email_text_field_test = 'O9Np8IU'
    assign ravenIdTextNoResource = 'rkrajVE'
    assign ravenIdMultiLineTextNoResource = '2FQkOoA'
    assign ravenIdIntNoResource = 'NzwmSAM'
    assign ravenIdDecNoResource = 'r23ir5c'
    assign ravenIdJsonNoResource = 'YTWDemY'

    if request.page_type == 'page'
      assign raven_id_1_text = 'lcAay1s'
      assign raven_id_2_multi_line_text = 'kPN8Ipg'
      assign raven_id_3_int = '1gV8x2M'
      assign raven_id_4_dec = 'oOF-QaE'
      assign raven_id_5_json = 'ztD0Akc'
    endif

    if request.page_type == 'customers/account'
      assign raven_id_metafields_set_type_test = '5xb-yFE'
      assign raven_id_1_text = 'JvgpVig'
      assign raven_id_2_multi_line_text = 'RZdTuZQ'
      assign raven_id_3_int = 'x3dHLQQ'
      assign raven_id_4_dec = '1wqRJhs'
      assign raven_id_5_json = 'O-rXW1E'
      assign raven_id_5_json_klaviyo = 'drnSfKw'
      assign raven_id_airtable = 'uN_SHSw'
    endif

    if request.page_type == 'index'
      assign raven_id_1_text = 'ygWc-aE'
      assign raven_id_2_multi_line_text = 'SGidRYQ'
      assign raven_id_3_int = 'ZmZpEGM'
      assign raven_id_4_dec = 'Q3TgOwU'
      assign raven_id_5_json = 'mhS8HFs'
    endif

    if request.page_type == 'collection'
      assign raven_id_1_text = ''
      assign raven_id_2_multi_line_text = ''
      assign raven_id_3_int = ''
      assign raven_id_4_dec = ''
      assign raven_id_5_json = ''
    endif

    if request.page_type == 'product'
      assign raven_id_1_text = 'Ow_ToTQ'
      assign raven_id_2_multi_line_text = 'q7yG9zs'
      assign raven_id_3_int = 'Mzc_q0g'
      assign raven_id_4_dec = 'CA6pcjI'
      assign raven_id_5_json = 'FXPbTcM'
    endif

    if request.page_type == 'product' and is_variant
      assign resource_id = product.selected_or_first_available_variant.id
      assign resource_name = 'variant'

      assign raven_id_1_text = ''
      assign raven_id_2_multi_line_text = ''
      assign raven_id_3_int = ''
      assign raven_id_4_dec = ''
      assign raven_id_5_json = ''
    endif

    if request.page_type == 'blog'
      assign raven_id_1_text = ''
      assign raven_id_2_multi_line_text = ''
      assign raven_id_3_int = ''
      assign raven_id_4_dec = ''
      assign raven_id_5_json = ''
    endif

    if request.page_type == 'article'
      assign raven_id_1_text = ''
      assign raven_id_2_multi_line_text = ''
      assign raven_id_3_int = ''
      assign raven_id_4_dec = ''
      assign raven_id_5_json = ''
    endif
  endif

  if request.host == 'fieldsraven-dev-next.myshopify.com'
    if request.page_type == 'page'
      assign raven_id_1_text = 'lKqTxEc'
      assign raven_id_2_multi_line_text = 'PrZ5w4Y'
      assign raven_id_3_int = 'NmEm6fg'
      assign raven_id_4_dec = 'Fm6b354'
      assign raven_id_5_json = 'qsAfT78'
    endif

    if request.page_type == 'customers/account'
      assign raven_id_1_text = 'Ocpmv_A'
      assign raven_id_2_multi_line_text = 'siZKUmM'
      assign raven_id_3_int = 'v_NNGqk'
      assign raven_id_4_dec = 'nXEp1vM'
      assign raven_id_5_json = '4kNFSbw'
    endif

    if request.page_type == 'index'
      assign raven_id_1_text = 'b_8gg8k'
      assign raven_id_2_multi_line_text = 'Kt-LwQM'
      assign raven_id_3_int = 'Gd0buAU'
      assign raven_id_4_dec = 'tlHzyC0'
      assign raven_id_5_json = 'ryQN8Hc'
    endif

    if request.page_type == 'collection'
      assign raven_id_1_text = 'a53ept0'
      assign raven_id_2_multi_line_text = '4D-D9Qo'
      assign raven_id_3_int = 'YMaiufE'
      assign raven_id_4_dec = 'F9g9kg4'
      assign raven_id_5_json = '-VDRuzU'
    endif

    if request.page_type == 'product'
      assign raven_id_1_text = 'AgwARv4'
      assign raven_id_2_multi_line_text = 'B11EDow'
      assign raven_id_3_int = 'L7_aoik'
      assign raven_id_4_dec = 'uzRnjyI'
      assign raven_id_5_json = 'Yua2JHo'
    endif

    if request.page_type == 'product' and is_variant
      assign resource_id = product.selected_or_first_available_variant.id
      assign resource_name = 'variant'

      assign raven_id_1_text = 'AHZ7U0A'
      assign raven_id_2_multi_line_text = 'm1XzXpw'
      assign raven_id_3_int = 'gqcP1TE'
      assign raven_id_4_dec = 'FkkRXFk'
      assign raven_id_5_json = '4IRsI58'
    endif

    if request.page_type == 'blog'
      assign raven_id_1_text = ''
      assign raven_id_2_multi_line_text = ''
      assign raven_id_3_int = ''
      assign raven_id_4_dec = ''
      assign raven_id_5_json = ''
    endif

    if request.page_type == 'article'
      assign raven_id_1_text = ''
      assign raven_id_2_multi_line_text = ''
      assign raven_id_3_int = ''
      assign raven_id_4_dec = ''
      assign raven_id_5_json = ''
    endif
  endif

  if request.host == 'fieldsraven-dev.myshopify.com'
    assign raven_id_product_reference_test = 'UB6rqng'
    assign raven_id_product_reference_list_test = 'AvdrLV4'
    assign product_ids_list = '7516097249502,7516097118430' | split: ','
    assign raven_id_customer_email_text_field_test = '5231sdA'
    assign ravenIdTextNoResource = 'j1OWY4c'
    assign ravenIdMultiLineTextNoResource = 'I0tt9N4'
    assign ravenIdIntNoResource = 'IT0lxKY'
    assign ravenIdDecNoResource = '0l3f7WA'
    assign ravenIdJsonNoResource = 'G6AeKWU'

    if request.page_type == 'customers/account'
      assign raven_id_metafields_set_type_test = 'rxzICAQ'
      assign raven_id_1_text = 'Rl83G_g'
      assign raven_id_2_multi_line_text = 'gGJblDk'
      assign raven_id_3_int = 'jEKxqnk'
      assign raven_id_4_dec = 'XrskynY'
      assign raven_id_5_json = 'pPI-hyk'
      assign raven_id_5_json_klaviyo = 'ccchC8o'
      assign raven_id_airtable = 'rXiU5TM'
    endif
  endif
%}

<!-- JavaScript + Liquid -->
<script type="text/javascript">
  fieldsRavenDeleteTest = (value) => {
    const ravenObj = {%- render 'raven-mac-gen', resource_id: customer.id, raven_id: 'fbr7INM' -%}
    const valueObj = { value: value };
    const requestParams = Object.assign({}, ravenObj, valueObj);
    const response = FieldsRaven.send(requestParams);
    response.then(res => {
      if (res.status === 200) {
        console.log('ðŸŽ‰', res.json)
      } else {
        console.error('ðŸ˜ž', res)
      }
    })
    .catch(e => console.error(e));
  }
</script>

<!-- HTML -->
<button id="fieldsraven-demo" onclick="fieldsRavenDeleteTest('Hello Raven!')">Send the Raven!</button>

<div style="display: none;" x-data="{
  ravenProductReferenceListTest: {%- render 'raven-mac-gen', resource_id: customer.id, raven_id: raven_id_product_reference_list_test -%},
  ravenProductReferenceTest: {%- render 'raven-mac-gen', resource_id: customer.id, raven_id: raven_id_product_reference_test -%},
  ravenMetafieldsSetTypeTest: {%- render 'raven-mac-gen', resource_id: resource_id, raven_id: raven_id_metafields_set_type_test -%},
  ravenText: {%- render 'raven-mac-gen', resource_id: resource_id, raven_id: raven_id_1_text -%},
  ravenTextCustomerEmail: {%- render 'raven-mac-gen', resource_id: nil, raven_id: raven_id_customer_email_text_field_test -%},
  valueProductIdsList: { value: [{% for id in product_ids_list %}{{ id }}{% unless forloop.last %},{% endunless %}{% endfor %}] },
  valueProductId: { value: '{{ product.id }}' },
  valueText: { value: `Timestamp: ${Date.now()}` },
  ravenMultiLineText: {%- render 'raven-mac-gen', resource_id: resource_id, raven_id: raven_id_2_multi_line_text -%},
  valueMultiLineText: { value: '95% Cotton\n5% Spandex' },
  ravenInt: {%- render 'raven-mac-gen', resource_id: resource_id, raven_id: raven_id_3_int -%},
  valueInt: { value: 27999 },
  ravenDec: {%- render 'raven-mac-gen', resource_id: resource_id, raven_id: raven_id_4_dec -%},
  valueDec: { value: 27.999 },
  ravenJson: {%- render 'raven-mac-gen', resource_id: resource_id, raven_id: raven_id_5_json -%},
  ravenJsonKlaviyo: {%- render 'raven-mac-gen', resource_id: resource_id, raven_id: raven_id_5_json_klaviyo -%},
  valueJson: { value: JSON.stringify({facebook: 'Share on Facebook',twitter: 'Tweet on Twitter',pinterest: 'Pin on Pinterest',timestamp: `${Date.now()}`}) },
  valueJson2: { value: JSON.stringify({'Serial Number': '000123456789','Country of Residence': 'Canada','Where did you purchase your meter?': 'Amazon'}) },
  valueJsonNested: { value: JSON.stringify({'name':'Ram','age':27,'vehicles': {'car':'limousine','bike':'ktm-duke','plane':'lufthansa'}}) },
  valueJsonNestedWithArray: { value: JSON.stringify({'name': 'Ram','age': 27,'vehicles': ['limousine', 'ktm-duke', 'lufthansa']}) },
  valueJsonArrayOfObjs: { value: JSON.stringify([{'name':'Martha', 'age':37, 'other':{'Favorite color':'Blue', 'Vehicle':'2009 SSC Aero', 'GUID':'890d954a-4a57-4659-b10d-e16427358b99'}},{'name':'Bonnie', 'age':29, 'other':{'Favorite color':'Orange', 'Vehicle':'1998 Daewoo Prince', 'GUID':'b902c384-2e1c-44de-a8d3-59b92a2afddd'}},{'name':'Bridgette', 'age':41, 'other':{'Favorite color':'Purple', 'Vehicle':'1997 Suzuki Cappuccino', 'GUID':'aad8ceb9-566e-4b9f-a64a-23af8671eb96'}}]) },
  sendRaven(params) {
    const response = fetch('/apps/raven/create_metafield', {
      method: 'PUT',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(params)
    })

    response
      .then(res => res.json())
      .then(resJson => console.log('resJson: ', resJson))
  },
  submitProductReferenceListTest() {
    const requestParams = { raven: Object.assign({}, this.ravenProductReferenceListTest, this.valueProductIdsList) };
    this.sendRaven(requestParams)
  },
  submitProductReferenceTest() {
    const requestParams = { raven: Object.assign({}, this.ravenProductReferenceTest, this.valueProductId) };
    this.sendRaven(requestParams)
  },
  submitMetafieldsSetTypeTest() {
    const requestParams = { raven: Object.assign({}, this.ravenMetafieldsSetTypeTest, this.valueText) };
    this.sendRaven(requestParams)
  },
  submitTextRaven() {
    const requestParams = { raven: Object.assign({}, this.ravenText, this.valueText) };
    this.sendRaven(requestParams)
  },
  submitMultiLineTextRaven() {
    const requestParams = { raven: Object.assign({}, this.ravenMultiLineText, this.valueMultiLineText) };
    this.sendRaven(requestParams)
  },
  submitIntRaven() {
    const requestParams = { raven: Object.assign({}, this.ravenInt, this.valueInt) };
    console.log('ðŸš§ requestParams: ', requestParams)
    this.sendRaven(requestParams)
  },
  submitDecRaven() {
    const requestParams = { raven: Object.assign({}, this.ravenDec, this.valueDec) };
    this.sendRaven(requestParams)
  },
  submitJsonRaven() {
    const requestParams = { raven: Object.assign({}, this.ravenJson, this.valueJson) };
    this.sendRaven(requestParams)
  },
  submitJsonKlaviyoNested() {
    const requestParams = { raven: Object.assign({}, this.ravenJsonKlaviyo, this.valueJsonNested) };
    this.sendRaven(requestParams)
  },
  submitJsonKlaviyoNestedWithArray() {
    const requestParams = { raven: Object.assign({}, this.ravenJsonKlaviyo, this.valueJsonNestedWithArray) };
    this.sendRaven(requestParams)
  },
  submitJsonKlaviyoArrayOfObjs() {
    const requestParams = { raven: Object.assign({}, this.ravenJsonKlaviyo, this.valueJsonArrayOfObjs) };
    this.sendRaven(requestParams)
  },
  submitFlock() {
    const requestParams = {flock: [
      Object.assign({}, this.ravenText, this.valueText),
      Object.assign({}, this.ravenMultiLineText, this.valueMultiLineText),
      Object.assign({}, this.ravenInt, this.valueInt),
      Object.assign({}, this.ravenDec, this.valueDec),
      Object.assign({}, this.ravenJson, this.valueJson)
    ]}

    const response = fetch('/apps/raven/create_multiple_metafields', {
      method: 'PUT',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(requestParams)
    })

    response
      .then(res => res.json())
      .then(resJson => console.log('resJson: ', resJson))
  },
  ravenTextNoResource: {%- render 'raven-mac-gen', resource_id: nil, raven_id: ravenIdTextNoResource -%},
  ravenMultiLineTextNoResource: {%- render 'raven-mac-gen', resource_id: nil, raven_id: ravenIdMultiLineTextNoResource -%},
  ravenIntNoResource: {%- render 'raven-mac-gen', resource_id: nil, raven_id: ravenIdIntNoResource -%},
  ravenDecNoResource: {%- render 'raven-mac-gen', resource_id: nil, raven_id: ravenIdDecNoResource -%},
  ravenJsonNoResource: {%- render 'raven-mac-gen', resource_id: nil, raven_id: ravenIdJsonNoResource -%},
  submitFlockWithEmail() {
    const customer_email = `karim-test-${Math.floor(Math.random() * 1000)}@bexample.com`;
    console.log('ðŸ’¥ðŸ‘·ðŸ‘‰ customer_email: ', customer_email);
    const requestParams = {
      flock: [
        Object.assign({}, this.ravenTextNoResource, this.valueText),
        Object.assign({}, this.ravenMultiLineTextNoResource, this.valueMultiLineText),
        Object.assign({}, this.ravenIntNoResource, this.valueInt),
        Object.assign({}, this.ravenDecNoResource, this.valueDec),
        Object.assign({}, this.ravenJsonNoResource, this.valueJson)
      ],
      customer_email: customer_email
    }

    const start = Date.now();

    const response = fetch('/apps/raven/create_multiple_metafields', {
      method: 'PUT',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(requestParams)
    })

    response
      .then(res => res.json())
      .then(resJson => {
        console.log('resJson: ', resJson)
        const end = Date.now();
        console.log(`â°â° Execution time: ${end - start} ms`);
      })

  },
  submitCustomerEmailRaven() {
    const customer_email = `karim-test-${Math.floor(Math.random() * 1000)}@bexample.com`;
    console.log('ðŸ’¥ðŸ‘·ðŸ‘‰ customer_email: ', customer_email);
    const requestParams = { raven: Object.assign({}, this.ravenTextCustomerEmail, this.valueText, {customer_email: customer_email}) };
    this.sendRaven(requestParams)
  }
}">
  <script type="text/javascript">
    console.log('ðŸš§ list_product_reference_test: ', {{customer.metafields.fields_raven.list_product_reference_test.value|json}})
    console.log('ðŸš§ product_reference_test_1: ', {{customer.metafields.fields_raven.product_reference_test_1.value|json}})

  </script>
  <code>
    product.id: {{ product.id }}<br>
    list_product_reference_test: {{customer.metafields.fields_raven.list_product_reference_test.value}}
    product_reference_test_1: {{customer.metafields.fields_raven.product_reference_test_1.value}}
  </code>
  {% assign button_classes = 'tw-mt-8 tw-inline-flex tw-items-center tw-px-4 tw-py-2 tw-border tw-border-transparent tw-text-xl tw-font-medium tw-rounded-md tw-shadow-sm tw-text-white tw-bg-indigo-600 hover:tw-bg-indigo-700 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-offset-2 focus:tw-ring-indigo-500' %}
  <fieldset>
    <legend>Create {{ resource_name }} metafields</legend>
    {% if customer %}
      <button type="button" class="{{ button_classes }}" @click="submitProductReferenceListTest()">
        Test list.product_reference_test {{ product.id }}
      </button><br>
      <button type="button" class="{{ button_classes }}" @click="submitProductReferenceTest()">
        Test product_reference_test {{ product.id }}
      </button><br>
    {% endif %}
    <button type="button" class="{{ button_classes }}" @click="submitMetafieldsSetTypeTest()">
      Test metafields_set_type_test
    </button><br>
    <button type="button" class="{{ button_classes }}" @click="submitTextRaven()">
      Test sending text raven
    </button><br>
    <button type="button" class="{{ button_classes }}" @click="submitMultiLineTextRaven()">
      Test sending multi line text raven
    </button><br>
    <button type="button" class="{{ button_classes }}" @click="submitIntRaven()">
      Test sending int raven
    </button><br>
    <button type="button" class="{{ button_classes }}" @click="submitDecRaven()">
      Test sending dec raven
    </button><br>
    <button type="button" class="{{ button_classes }}" @click="submitJsonRaven()">
      Test sending JSON raven
    </button><br>
    <button type="button" class="{{ button_classes }}" @click="submitFlock()">
      Test sending flock
    </button><br>
    <button type="button" class="{{ button_classes }}" @click="submitJsonKlaviyoNested()">
      Test sending JSON (Nested) raven to Klaviyo
    </button><br>
    <button type="button" class="{{ button_classes }}" @click="submitJsonKlaviyoNestedWithArray()">
      Test sending JSON (Nested with array) raven to Klaviyo
    </button><br>
    <button type="button" class="{{ button_classes }}" @click="submitJsonKlaviyoArrayOfObjs()">
      Test sending JSON (Array of Objs) raven to Klaviyo
    </button><br>
    <button type="button" class="{{ button_classes }}" @click="submitCustomerEmailRaven()">
      Test customer email
    </button><br>
    <button type="button" class="{{ button_classes }}" @click="submitFlockWithEmail()">
      Test sending flock with customer email ðŸ’¥
    </button><br>
  </fieldset>
</div>
<hr>
<h2>product registration form + airtable sync</h2>
{% render 'include-product-registration', raven_id_airtable: raven_id_airtable %}
{% else %}
  <div class="tw-bg-white tw-border-gray-200 tw-shadow-sm tw-rounded-lg tw-border tw-p-4">
    <p>Please <a class="tw-text-indigo-600 tw-whitespace-nowrap hover:tw-text-indigo-500" href="/account/login">log in</a> or <a class="tw-text-indigo-600 tw-whitespace-nowrap hover:tw-text-indigo-500" href="/account/register">register</a> to test this!</p>
  </div>
{% endif %}

<div x-data="{
  params: {
    email: 'karim+dec5-test-002@fieldsraven.app',
    metafields: [
       {key: 'new_dec_5_1', value: 'newvalue', type: 'single_line_text_field', namespace: 'global'},
       {key: 'new_dec_5_2', value: 'newvalue_2', type: 'single_line_text_field', namespace: 'global'}
    ]
  },
  findOrCreateCustomerReq(params) {
    const response = fetch('/apps/raven/find_or_create_customer_and_add_metafields', {
      method: 'PUT',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(params)
    })

    response
      .then(res => res.json())
      .then(resJson => console.log('resJson: ', resJson))
  },
  submitFindOrCreateCustomerReq() {
    this.findOrCreateCustomerReq(this.params)
  }
}">
  <button @click="submitFindOrCreateCustomerReq()">find_or_create_customer_and_add_metafields</button>
</div>
